{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Verbalia</h1>
        <h2> ¿Quienes somos? </h2>
        <p> Nuestra escuela de idiomas con 15 años de experiencia se destaca por su enfoque integral en el desarrollo de todas las habilidades lingüísticas. Contamos con profesores altamente calificados que brindan una educación personalizada y motivadora. La inmersión cultural y las modernas instalaciones crean un ambiente enriquecedor y acogedor para nuestros estudiantes. Únete a nuestra comunidad diversa y descubre cómo aprender un nuevo idioma puede abrir puertas y conectar con personas de diferentes culturas. En nuestra escuela, el aprendizaje es un emocionante viaje hacia un mundo lleno de posibilidades. </p>


        <div class="text-center">
            <a class="btn btn-secondary" href="/signing">
                Signin
            </a>
            <a class="btn btn-dark" href="/signup">
                Signup
            </a>

        </div>
    </section>
</main>

{% endblock %}